<ion-card>
  <ion-card-header>
    <div class="header-content">
      <img alt="Foto de Perfil" src="../../assets/profile.jpg" />

      <div class="username">
        joaobloqueado
      </div>

      <div class="config">
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </div>
    </div>
  </ion-card-header>

  <ion-card-content>
    <img alt="Silhouette of mountains" src="../../assets/profile.jpg" />
    
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>